*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 400px;
    background-color: aliceblue;
    padding: 20px;
}

h3 {
    margin-top: 60px;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ul li {
    list-style: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: bisque;
}

#totalContacts {
    list-style: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: burlywood;
    font-weight: bold;
}

button {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: green;
    color: #fff;
    cursor: pointer;
}

.list li {
    display: flex;
    justify-content: space-between;
}